<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <title>Login do Produtor</title>
  <link rel="stylesheet" href="css/style.css" />
</head>
<body>
  <section class="login-container">
    <h2>Login do Produtor</h2>
    <form onsubmit="autenticarProdutor(event)">
      <input type="text" id="loginNome" placeholder="Nome" required>
      <input type="password" id="loginSenha" placeholder="Senha" required>
      <button type="submit" class="bot rosa">Entrar</button>
    </form>
  </section>

  <script src="js/script.js"></script>
</body>
</html>
